body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(254, 194, 189);
    font-family: 'Nerko One', cursive;
}

h1{
    flex: 1;
    text-align: center;
    font-size: 150px;
    color: #C792FA;
    text-shadow: 2px 2px #fff, 5px 5px #F257FF, 5px 5px 10px #F257FF;
}
    

#canvas {
    border: 5px solid white;
}

#bird{
    object-fit: none;
    object-position: -640px -170px;
    width: 50px;
    height: 40px;
    position: absolute;
    top: 41%;
    left: 8%;
}

#cutie_text{
    animation: moveRight 1s ease-in-out;
}

#bird_text{
    animation: moveLeft 1s ease-in-out;

}

@keyframes moveRight {
    0% {
        transform: translateX(-150px);

    }
    60%{
        transform: translateX(25px);
    }
    100% {
        transform: translateX(0);
    }
}


@keyframes moveLeft {
    0% {
        transform: translateX(150px);
    }
    60%{
        transform: translateX(-25px);
    }
    100% {
        transform: translateX(0);
    }
}

@media(max-width: 1000px){
    h1 {
        display: none;
    }
    #bird{
        display: none;
    }
}